@use "theme/mixins/form-field" as ff;

:host {
  display: flex;
  align-items: center;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: var(--mw-component-text-field-gap-group-vertical);
}

.textfield {
  @include ff.form-field;
}

.input {
  @include ff.input;
}
