/* The container */
.container {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
}

/* Hide the browser's default radio button */
.container input {
  display: none;
}

/* Create a custom radio button */
.checkmark {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 14px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background: #ff4c4c;
}
.container:hover input:disabled ~ .checkmark {
  background: none;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 6px solid red;
}

.container.hover input:checked ~ .checkmark {
  border: 6px solid #ff4c4c;
  background: none;
}
