:host {
  display: block;
}
.mw-popover {
  position: relative;
}
.mw-popover-content {
  /* visually hide element and make it not take any space */
  min-width: 180px;
  width: 100%;
  box-sizing: border-box;
  margin: 12px;
  visibility: hidden;
  position: absolute;
  /* TODO: token */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* TODO: token*/
  padding: 12px;
  background: var(--mw-component-menu-item-bg-default);
  border-radius: var(--mw-component-menu-item-border-radius);
  border-width: var(--mw-component-menu-item-border-width-default);
}

.mw-popover-content.no-padding {
  padding: 0;
  margin: 0;
}

.mw-popover-content.open {
  visibility: visible;
  position: relative;
  z-index: 999;
}
