@use "theme/mixins/form-field" as ff;

:host {
  display: flex;
  align-items: center;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

mw-popover {
  width: 100%;
}

.autocomplete {
  @include ff.form-field;

  &.read-only,
  &.read-only .input input {
    cursor: pointer;
  }
}

.input {
  @include ff.input;
}

.has-error {
  color: var(--mw-component-text-field-fg-error);
}

.no-matches {
  /* TODO: Discuss with design team */
  display: none;
  justify-content: center;
  align-items: center;
  color: darkgrey;
  height: 56px;
}

.maximum-reached {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgrey;
  height: 56px;
}
