.mw-switch-container {
  display: inline-flex;
  align-items: center;
  gap: var(--mw-component-controls-with-label-gap);
  padding: var(--mw-component-controls-with-label-padding-y) var(--mw-component-controls-with-label-padding-r) var(--mw-component-controls-with-label-padding-y)
    var(--mw-component-controls-with-label-padding-l);

  &.enabled {
    cursor: pointer;

    .mw-switch-label {
      cursor: pointer;
    }
  }

  &.left {
    justify-content: end;
  }

  .mw-switch-label {
    font-size: var(--mw-component-control-label-font-size);
    font-family: var(--mw-component-control-label-font-family);
    color: var(--mw-component-controls-color-label-default);
  }
  .mw-switch-label.disabled {
    color: var(--mw-component-controls-color-label-disabled);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: var(--mw-component-size-switch-default-w);
    height: var(--mw-component-size-switch-default-h);
  }

  /* hidden input */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    cursor: pointer;
  }

  /* handle */
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mw-component-controls-color-bg-unselected);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* handle, checked */
  input:checked + .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 4px;
    background-color: var(--mw-component-controls-color-fg-default);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* handle, unchecked */
  input:not(:checked) + .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 6px;
    background-color: var(--mw-component-controls-color-fg-off);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &:hover {
    /* track, hover, not disabled */
    input:not(:disabled) + .slider {
      background-color: var(--mw-component-controls-color-bg-hover);
    }
  }

  &:active {
    /* handle, unchecked, active */
    input:not(:disabled) + .slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 5px;
      bottom: 2px;
      background-color: var(--mw-component-controls-color-fg-default);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    /* handle, unchecked, not disabled, active */
    input:not(:checked):not(:disabled) + .slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 2px;
      bottom: 2px;
      background-color: var(--mw-component-controls-color-fg-off);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  /* handle, unchecked, active */
  input:not(:disabled):active + .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 2px;
    background-color: var(--mw-component-controls-color-fg-default);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* handle, unchecked, not disabled, active */
  input:not(:checked):not(:disabled):active + .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: var(--mw-component-controls-color-fg-off);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* handle, disabled */
  input:disabled + .slider:before {
    background-color: var(--mw-component-controls-color-fg-disabled);
  }

  /* track, checked */
  input:checked + .slider {
    background-color: var(--mw-component-controls-color-bg-selected);
  }

  /* track, disabled */
  input:disabled + .slider {
    background-color: var(--mw-component-controls-color-bg-disabled);
  }

  /* track, focussed, not active, not disabled */
  input:focus:not(:active):not(:disabled) + .slider {
    box-shadow: inset 0 0 0 var(--mw-component-controls-border-width-focused) var(--mw-component-controls-color-outline-default);
    background-color: var(--mw-component-controls-color-bg-focused);
  }

  /* track, active, not disabled */
  input:active:not(:disabled) + .slider {
    background-color: var(--mw-component-controls-color-bg-pressed);
  }

  /* track, unchecked, not disabled */
  input:not(:checked):not(:disabled) + .slider {
    box-shadow: inset 0 0 0 var(--mw-component-controls-border-width-unselected) var(--mw-component-controls-color-outline-default);
  }

  /* track unchecked, disabled */
  input:not(:checked):disabled + .slider {
    box-shadow: inset 0 0 0 var(--mw-component-controls-border-width-unselected) var(--mw-component-controls-color-outline-disabled);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    -webkit-border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
