.mw-checkbox-container {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: var(--mw-component-controls-with-label-gap);
  padding: var(--mw-component-controls-with-label-padding-y) var(--mw-component-controls-with-label-padding-r) var(--mw-component-controls-with-label-padding-y)
    var(--mw-component-controls-with-label-padding-l);

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    /* Focus state doesn't work if we just do display: none */
  }

  /* mw-checkbox */
  .mw-checkbox-outer {
    width: var(--mw-component-size-controls-checkbox-radiobutton-container);
    height: var(--mw-component-size-controls-checkbox-radiobutton-container);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mw-checkbox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: var(--mw-component-size-controls-checkbox-box);
    height: var(--mw-component-size-controls-checkbox-box);
    border-radius: var(--mw-component-checkbox-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Unselected, Enabled */
  .mw-checkbox.unselected.enabled {
    border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
    background: var(--mw-component-controls-color-bg-unselected);
  }

  /* Unselected, Disabled */
  .mw-checkbox.unselected.disabled {
    background: var(--mw-component-controls-color-bg-unselected);
    border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-disabled);
  }

  /* Selected, Enabled */
  .mw-checkbox.selected.enabled {
    background: var(--mw-component-controls-color-bg-selected);
    border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-default);
  }

  /* Selected, Disabled */
  .mw-checkbox.selected.disabled {
    background: var(--mw-component-controls-color-bg-disabled);
    border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-disabled);
  }

  &:hover {
    /* Unselected, Hovered */
    .mw-checkbox.unselected.enabled {
      background: var(--mw-component-controls-color-bg-hover);
      border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
    }
    /* Selected, Hovered */
    .mw-checkbox.selected.enabled {
      background: var(--mw-component-controls-color-bg-hover);
      border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-default);
    }
  }

  &:active {
    /* Unselected, Pressed */
    .mw-checkbox.unselected.enabled {
      background: var(--mw-component-controls-color-bg-pressed);
      border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
    }

    /* Selected, Pressed */
    .mw-checkbox.selected.enabled {
      background: var(--mw-component-controls-color-bg-pressed);
      border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-default);
    }
  }

  /* Unselected, Focused */
  input:focus + .mw-checkbox.unselected.enabled {
    background: var(--mw-component-controls-color-bg-focused);
    border: var(--mw-component-controls-border-width-focused) solid var(--mw-component-controls-color-outline-default);
  }

  /* Selected, Focused */
  input:focus + .mw-checkbox.selected.enabled {
    background: var(--mw-component-controls-color-bg-focused);
    border: var(--mw-component-controls-border-width-focused) solid var(--mw-component-controls-color-outline-default);
  }

  /* mw-checkmark */
  .mw-checkmark {
    display: none;
  }
  /* Selected */
  .mw-checkmark.selected {
    display: unset;
  }

  /* mw-checkbox-label */
  .mw-checkbox-label {
    cursor: pointer;
    font-family: var(--mw-component-control-label-font-family);
    font-weight: var(--mw-component-control-label-font-weight);
    font-size: var(--mw-component-control-label-font-size);
    line-height: var(--mw-component-control-label-line-height);
    color: var(--mw-component-controls-color-label-default);
  }

  .mw-checkbox-label.disabled {
    color: var(--mw-component-controls-color-label-disabled);
  }
}

label {
  cursor: pointer;
}
