.mw-checkbox-container {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: var(--mw-component-controls-with-label-gap);
  margin: var(--mw-component-controls-with-label-padding-y) var(--mw-component-controls-with-label-padding-r) var(--mw-component-controls-with-label-padding-y)
    var(--mw-component-controls-with-label-padding-l);
}
.mw-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* Focus state doesn't work if we just do display: none */
}
/* mw-checkbox */
.mw-checkbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: var(--mw-component-size-controls-checkbox-radiobutton-container);
  height: var(--mw-component-size-controls-checkbox-radiobutton-container);
  border-radius: var(--mw-component-checkbox-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Unselected, Enabled */
.mw-checkbox-container .mw-checkbox.unselected.enabled {
  border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
  background: var(--mw-component-controls-color-bg-unselected);
}
/* Unselected, Disabled */
.mw-checkbox-container .mw-checkbox.unselected.disabled {
  background: var(--mw-component-controls-color-bg-unselected);
  border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-disabled);
}
/* Unselected, Hovered */
.mw-checkbox-container:hover .mw-checkbox.unselected.enabled {
  background: var(--mw-component-controls-color-bg-hover);
  border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
}
/* Unselected, Focused */
input:focus + .mw-checkbox.unselected.enabled {
  background: var(--mw-component-controls-color-bg-focused);
  border: var(--mw-component-controls-border-width-focused) solid var(--mw-component-controls-color-outline-default);
}
/* Unselected, Pressed */
.mw-checkbox-container:active .mw-checkbox.unselected.enabled {
  background: var(--mw-component-controls-color-bg-pressed);
  border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
}
/* Selected, Enabled */
.mw-checkbox-container .mw-checkbox.selected.enabled {
  background: var(--mw-component-controls-color-bg-selected);
  border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-default);
}
/* Selected, Disabled */
.mw-checkbox-container .mw-checkbox.selected.disabled {
  background: var(--mw-component-controls-color-bg-disabled);
  border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-disabled);
}
/* Selected, Hovered */
.mw-checkbox-container:hover .mw-checkbox.selected.enabled {
  background: var(--mw-component-controls-color-bg-hover);
  border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-default);
}
/* Selected, Focused */
input:focus + .mw-checkbox.selected.enabled {
  background: var(--mw-component-controls-color-bg-focused);
  border: var(--mw-component-controls-border-width-focused) solid var(--mw-component-controls-color-outline-default);
}
/* Selected, Pressed */
.mw-checkbox-container:active .mw-checkbox.selected.enabled {
  background: var(--mw-component-controls-color-bg-pressed);
  border: var(--mw-component-controls-border-width-selected) solid var(--mw-component-controls-color-outline-default);
}
/* mw-checkmark */
.mw-checkmark {
  display: none;
}
/* Selected */
.mw-checkmark.selected {
  height: var(--mw-component-size-controls-checkbox-radiobutton-container);
  display: unset;
}

/* mw-checkbox-label */
.mw-checkbox-label {
  font-family: var(--mw-component-control-label-font-family);
  font-weight: var(--mw-component-control-label-font-weight);
  font-size: var(--mw-component-control-label-font-size);
  line-height: var(--mw-component-control-label-line-height);
  color: var(--mw-component-controls-color-label-default);
}
