@use "theme/mixins/box-shadow" as box-shadow;

:host {
  display: block;
}

.card {
  /* FIXME: token */
  max-width: 600px;
  width: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--mw-component-card-padding-components-y-default);
  padding-top: var(--mw-component-card-padding-components-y-default);
  padding-bottom: var(--mw-component-card-padding-components-y-default);
  background: var(--mw-component-card-bg-default);
  border-radius: var(--mw-component-card-border-radius);
  -webkit-border-radius: var(--mw-component-card-border-radius);
  -moz-border-radius: var(--mw-component-card-border-radius);
  color: var(--mw-component-card-fg-default);
  border: none;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.4 ease;

  &:first-child {
    margin-top: 0;
  }

  &.muted {
    color: var(--mw-component-card-fg-muted);
  }

  &.outlined {
    border: var(--mw-component-card-border-width-outlined) solid var(--mw-component-card-border-outlined);
  }

  &.elevated {
    @include box-shadow.elevation("--mw-component-card-shadow-elevated", 2);

    border: none;
  }
}
