@use "theme/mixins/form-field" as ff;

:host {
  display: flex;
  align-items: center;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.chip-input {
  @include ff.form-field;

  .input {
    @include ff.input;

    .input-options {
      flex: 1;
      display: flex;
      flex-flow: row wrap;
      gap: var(--mw-component-text-field-gap-horizontal-gap-within);
    }

    .icon-close-multiple {
      margin-left: var(--mw-component-text-field-gap-horizontal-gap-within);
      gap: var(--mw-component-text-field-gap-horizontal-gap-within);
      cursor: pointer;
      display: flex;
    }

    input {
      width: auto;
    }
  }
}

.maximum-reached {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgrey;
  height: 56px;
}
