:host {
  display: block;
}

.mw-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--mw-component-menu-item-gap-between);
  /* TODO: token */
  padding: 0 12px;
  height: var(--mw-component-size-menu-item-default-h);
  background: var(--mw-component-menu-item-bg-default);
  border: var(--mw-component-menu-item-border-width-default) solid var(--mw-component-menu-item-border-default);
  border-radius: var(--mw-component-menu-item-border-radius);
}

.mw-menu-item.selected .mw-menu-item-title {
  color: var(--mw-component-menu-item-fg-selected);
}

.mw-menu-item.disabled .mw-menu-item-title   {
  color: var(--mw-component-menu-item-fg-disabled);
}

.mw-menu-item:focus:not(.disabled) .mw-menu-item-title {
  color: var(--mw-component-menu-item-fg-focused);
}
.mw-menu-item:focus:not(.disabled) {
  box-shadow: inset 0 0 0 var(--mw-component-menu-item-border-width-focused) var(--mw-component-menu-item-border-focused);
}

.mw-menu-item:active:not(.disabled) .mw-menu-item-title {
  color: var(--mw-component-menu-item-fg-pressed);
}

.mw-menu-item:hover:not(.disabled) .mw-menu-item-title {
  color: var(--mw-component-menu-item-fg-hover);
}

.mw-menu-item:hover .mw-menu-item-subtitle,
.mw-menu-item:hover .mw-menu-item-title {
  cursor: default;
}

.mw-menu-item-title {
  color: var(--mw-component-menu-item-fg-title);
  font-family: var(--mw-component-menu-item-title-font-family);
  font-weight: var(--mw-component-menu-item-title-font-weight);
  line-height: var(--mw-component-menu-item-title-line-height);
  font-size: var(--mw-component-menu-item-title-font-size);
}

.mw-menu-item-subtitle {
  color: var(--mw-component-menu-item-fg-subtitle);
  font-family: var(--mw-component-menu-item-subtitle-font-family);
  font-weight: var(--mw-component-menu-item-subtitle-font-weight);
  line-height: var(--mw-component-menu-item-subtitle-line-height);
  font-size: var(--mw-component-menu-item-subtitle-font-size);
}
