:host {
  display: inline-block;
}
button {
  font-family: sans-serif;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  color: white;
  background: #a100a1;
  transition: 0.2s;
}
button:hover{
  background: #c500c5;
}
