:host {
  display: block;
}

:host(.overlay-hidden) {
  display: none;
}

.mw-modal {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  contain: strict;
  animation: bgBlurIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  &.dismiss-animation {
    animation: bgBlurOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    .mw-modal__backdrop {
      animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    .mw-modal__wrapper {
      animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }
  &__backdrop {
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  &__wrapper {
    z-index: 1;
    margin-top: var(--mw-component-modal-margin-t);
    margin-left: var(--mw-component-modal-margin-x);
    margin-right: var(--mw-component-modal-margin-x);
    background: var(--mw-component-modal-bg-default);
    border-radius: var(--mw-component-modal-border-radius);
    padding: var(--mw-component-modal-padding-components-x-default) var(--mw-component-modal-padding-components-x-default);
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}

@keyframes bgBlurIn {
  0% {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

@keyframes bgBlurOut {
  0% {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
  100% {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(100px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(100px);
    opacity: 0;
  }
}
