/**
* Set flex-box layout to components.
*
*/

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.container {
    display: flex;
    /* or inline-flex */
    align-items: stretch;
    flex: 0 1 auto;

    flex-flow: row wrap;
    /* 72 pixel is the topmenubar height */
    height: calc(100% - 72px);
}

.item {
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    height: 100%;
    min-width: 100px;
    /* A fixed width as the default */
    border-right: 1px solid rgb(191, 189, 189);
    border-left: 1px solid rgb(191, 189, 189);
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
}

.item-center {
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    flex-grow: 1;
    /* Set the middle element to grow and stretch */
    background-color: rgb(232, 234, 234);
    padding: 5px;
}

.item+.item {
    margin-left: 2%;
}