input {
  border: none;
  padding: 0;
  width: 100%;
  border-radius: var(--border-radius-standard-md);
  padding: var(--mw-component-text-field-padding-text-field-y) var(--mw-component-text-field-padding-text-field-x);
  background: var(--mw-component-text-field-bg-default);
  box-shadow: inset 0 0 0 var(--mw-component-text-field-default) var(--mw-component-text-field-border-default);
  font-family: var(--mw-component-text-field-text-font-family);
  font-weight: var(--mw-component-text-field-text-font-weight);
  font-size: var(--mw-component-text-field-text-font-size);
  line-height: var(--mw-component-text-field-text-line-height);
}

input:focus-visible,
input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input::placeholder {
  color: var(--mw-component-text-field-fg-placeholder);
}

input:focus-within {
  background: var(--mw-component-text-field-bg-hover);
  box-shadow: inset 0 0 0 var(--mw-component-text-field-focused) var(--mw-component-text-field-border-focused);
}

input:not(.disabled):hover {
  background: var(--mw-component-text-field-bg-hover);
}

input.has-error {
  color: var(--mw-component-text-field-fg-error);
}

/* RANGE SLIDER */
input[type="range"] {
  all: unset;
  position: relative;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  width: 100%;
  color: var(--mw-component-slider-default-active);
  --thumb-height: var(--mw-component-size-slider-handle);
  --track-height: var(--mw-component-size-slider-track-h);
  --track-color: var(--mw-component-slider-default-inactive);
  --clip-edges: 0.125em;
}

input[type="range"]:active {
  cursor: grabbing;
}
input[type="range"]:active::-webkit-slider-thumb {
  cursor: grabbing;
  background: var(--mw-component-slider-pressed);
  color: var(--mw-component-slider-pressed);
}
input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
  cursor: grabbing;
  background: var(--mw-component-slider-pressed);
}
input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}
input[type="range"]:focus {
  outline: none;
  border: none;
}
input[type="range"]:focus::-webkit-slider-thumb {
  /* replace with component tokens once token-transformer supports expanding borders.scss tokens (object) */
  border: var(--mw-core-border-width-sm) solid var(--mw-semantic-color-border-default);
}
input[type="range"]:focus::-moz-range-thumb {
  background: var(--mw-component-slider-focus);
}
input[type="range"]:hover::-webkit-slider-thumb {
  cursor: grab;
  background: var(--mw-component-slider-hover);
}
input[type="range"]:hover::-moz-range-progress,
input[type="range"]:hover::-moz-range-thumb {
  cursor: grab;
  background: var(--mw-component-slider-hover);
}
input[type="range"]:disabled {
  --track-color: var(--mw-component-slider-disabled-inactive);
  color: var(--mw-component-slider-disabled);
  cursor: not-allowed;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  background: var(--mw-component-slider-disabled);
  color: var(--mw-component-slider-disabled);
  cursor: not-allowed;
  pointer-events: none;
}
input[type="range"]:disabled::-moz-range-thumb,
input[type="range"]:disabled::-moz-range-progress {
  cursor: not-allowed;
  background: var(--mw-component-slider-disabled);
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
  border-radius: 9999px;
}
input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center/50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));
  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center/100% calc(var(--track-height) + 1px);
}
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}
input[type="range"]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}
input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

/* CHECKBOX */
input[type="checkbox"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  accent-color: var(--mw-component-controls-color-bg-selected);
  padding: 0;
  width: var(--mw-component-size-controls-checkbox-box);
  height: var(--mw-component-size-controls-checkbox-box);
  border-radius: var(--mw-component-checkbox-border-radius);
  border: var(--mw-component-controls-border-width-unselected) solid var(--mw-component-controls-color-outline-default);
  background: var(--mw-component-controls-color-bg-unselected);
  display: flex;
  justify-content: center;
  align-items: center;
}
