body,
p {
  font-family: var(--mw-semantic-body-regular-font-family);
  font-weight: var(--mw-semantic-body-regular-font-weight);
  line-height: var(--mw-semantic-font-line-height-body-regular);
  font-size: var(--mw-semantic-font-font-size-body-regular);

  &strong,
  b {
    font-family: var(--mw-semantic-body-bold-font-family);
    font-weight: var(--mw-semantic-body-bold-font-weight);
    line-height: var(--mw-semantic-font-line-height-body-regular);
    font-size: var(--mw-semantic-font-font-size-body-regular);
  }
}

h1 {
  font-family: var(--mw-semantic-h1-font-family);
  font-weight: var(--mw-semantic-h1-font-weight);
  line-height: var(--mw-semantic-font-line-height-h1-regular);
  font-size: var(--mw-semantic-font-font-size-h1-regular);
}

h2 {
  font-family: var(--mw-semantic-h2-font-family);
  font-weight: var(--mw-semantic-h2-font-weight);
  line-height: var(--mw-semantic-font-line-height-h2-regular);
  font-size: var(--mw-semantic-font-font-size-h2-regular);
}

h3 {
  font-family: var(--mw-semantic-h3-font-family);
  font-weight: var(--mw-semantic-h3-font-weight);
  line-height: var(--mw-semantic-font-line-height-h3-regular);
  font-size: var(--mw-semantic-font-font-size-h3-regular);
}

h4 {
  font-family: var(--mw-semantic-h4-font-family);
  font-weight: var(--mw-semantic-h4-font-weight);
  line-height: var(--mw-semantic-font-line-height-h4-regular);
  font-size: var(--mw-semantic-font-font-size-h4-regular);
}

h5 {
  font-family: var(--mw-semantic-h5-font-family);
  font-weight: var(--mw-semantic-h5-font-weight);
  line-height: var(--mw-semantic-font-line-height-h5-regular);
  font-size: var(--mw-semantic-font-font-size-h5-regular);
}

h6 {
  font-family: var(--mw-semantic-h6-font-family);
  font-weight: var(--mw-semantic-h6-font-weight);
  line-height: var(--mw-semantic-font-line-height-h6-regular);
  font-size: var(--mw-semantic-font-font-size-h6-regular);
}

.hero {
  font-size: var(--mw-semantic-font-font-size-hero-regular);
  font-family: var(--mw-semantic-hero-font-family);
  font-weight: var(--mw-semantic-hero-font-weight);
  line-height: var(--mw-semantic-hero-line-height);
}

.caption {
  font-family: var(--mw-semantic-caption-regular-font-family);
  font-weight: var(--mw-semantic-caption-regular-font-weight);
  text-transform: var(--mw-semantic-caption-regular-text-case);
  letter-spacing: var(--mw-semantic-caption-regular-letter-spacing);
  font-size: var(--mw-semantic-font-font-size-caption-regular);
  line-height: var(--mw-semantic-font-line-height-caption-regular);
}

.caption strong,
.caption b {
  font-family: var(--mw-semantic-caption-bold-font-family);
  font-weight: var(--mw-semantic-caption-bold-font-weight);
  text-transform: var(--mw-semantic-caption-bold-text-case);
  letter-spacing: var(--mw-semantic-caption-bold-letter-spacing);
  font-size: var(--mw-semantic-font-font-size-caption-regular);
  line-height: var(--mw-semantic-font-line-height-caption-regular);
}

.title {
  font-family: var(--mw-semantic-title-regular-font-family);
  font-weight: var(--mw-semantic-title-regular-font-weight);
  font-size: var(--mw-semantic-font-font-size-title-regular);
  line-height: var(--mw-semantic-font-line-height-title-regular);
}

.title strong,
.title b {
  font-family: var(--mw-semantic-title-bold-font-family);
  font-weight: var(--mw-semantic-title-bold-font-weight);
  font-size: var(--mw-semantic-font-font-size-title-regular);
  line-height: var(--mw-semantic-font-line-height-title-regular);
}

.subtitle {
  font-family: var(--mw-semantic-subtitle-regular-font-family);
  font-weight: var(--mw-semantic-subtitle-regular-font-weight);
  font-size: var(--mw-semantic-font-font-size-subtitle-regular);
  line-height: var(--mw-semantic-font-line-height-subtitle-regular);
}

.subtitle strong,
.subtitle b {
  font-family: var(--mw-semantic-subtitle-bold-font-family);
  font-weight: var(--mw-semantic-subtitle-bold-font-weight);
  font-size: var(--mw-semantic-font-font-size-subtitle-regular);
  line-height: var(--mw-semantic-font-line-height-subtitle-regular);
}

.overline {
  font-family: var(--mw-semantic-body-regular-font-family);
  font-weight: var(--mw-semantic-body-regular-font-weight);
  font-size: var(--mw-semantic-font-font-size-overline-regular);
  line-height: var(--mw-semantic-font-line-height-overline-regular);
}
