:host {
  .mw-app-bar-title {
    color: var(--mw-component-app-bar-fg-default);
    font-family: var(--mw-component-app-bar-title-font-family);
    font-weight: var(--mw-component-app-bar-title-font-weight);
    line-height: var(--mw-component-app-bar-title-line-height);
    font-size: var(--mw-component-app-bar-title-font-size);
  }
}
