:host {
  display: block;
}

.card {
  background: var(--mw-component-card-bg-default);
  border-radius: var(--mw-component-card-border-radius);
  -webkit-border-radius: var(--mw-component-card-border-radius);
  -moz-border-radius: var(--mw-component-card-border-radius);
  color: var(--mw-component-card-fg-default);
  padding: var(--mw-component-card-padding-components-tb-default) var(--mw-component-card-padding-components-lr-default);
  border: none;
}

.card.muted {
  color: var(--mw-component-card-fg-muted);
}

.card.outlined {
  border: var(--mw-component-card-border-width-outlined) solid var(--mw-component-card-border-outlined);
}

.card.elevated {
  border: none;
}

.card .header {
  font-family: var(--mw-component-card-header-font-family);
  font-size: var(--mw-component-card-header-font-size);
  /* font-weight: var(--mw-component-card-header-font-weight); */
  line-height: var(--mw-component-card-header-line-height);
}

.card .subhead {
  font-family: var(--mw-component-card-subhead-font-family);
  font-size: var(--mw-component-card-subhead-font-size);
  /* font-weight: var(--mw-component-card-subhead-font-weight); */
  line-height: var(--mw-component-card-subhead-line-height);
}

.card .title {
  font-family: var(--mw-component-card-title-font-family);
  font-size: var(--mw-component-card-title-font-size);
  /* font-weight: var(--mw-component-card-title-font-weight); */
  line-height: var(--mw-component-card-title-line-height);
}

.card .subtitle {
  font-family: var(--mw-component-card-subtitle-font-family);
  font-size: var(--mw-component-card-subtitle-font-size);
  /* font-weight: var(--mw-component-card-subtitle-font-weight); */
  line-height: var(--mw-component-card-subtitle-line-height);
}

.card .metadata {
  font-family: var(--mw-component-card-metadata-font-family);
  font-size: var(--mw-component-card-metadata-font-size);
  /* font-weight: var(--mw-component-card-metadata-font-weight); */
  line-height: var(--mw-component-card-metadata-line-height);
}