@use "sass:list";

@function get-box-shadow($name, $elevation: 0) {
  $top: var(#{$name} + "-" + #{$elevation} + "-y");
  $left: var(#{$name} + "-" + #{$elevation} + "-x");
  $blur: var(#{$name} + "-" + #{$elevation} + "-blur");
  $spread: var(#{$name} + "-" + #{$elevation} + "-spread");
  $color: var(#{$name} + "-" + #{$elevation} + "-color");

  @return $left $top $blur $spread $color;
}

@mixin box-shadow($name, $elevation: 0) {
  $boxShadow: get-box-shadow($name, $elevation);

  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}

@mixin elevation($name, $elevations) {
  $boxShadowList: ();
  @for $index from 0 through $elevations {
    $boxShadowList: list.append($boxShadowList, get-box-shadow($name, $index), comma);
  }
  box-shadow: $boxShadowList;
}
