@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* CSS Token Imports */
:root {
  --mw-component-button-filled-color-bg-default: #ed2985;
  --mw-component-button-filled-color-bg-hover: #c42177;
  --mw-component-button-filled-color-bg-pressed: #991766;
  --mw-component-button-filled-color-bg-disabled: #95a0a4;
  --mw-component-button-filled-color-bg-focused: #c42177;
  --mw-component-button-filled-color-fg-default: #ffffff;
  --mw-component-button-filled-color-fg-hover: #ffffff;
  --mw-component-button-filled-color-fg-pressed: #EEF1F3;
  --mw-component-button-filled-color-fg-disabled: #EEF1F3;
  --mw-component-button-filled-color-fg-focused: #ffffff;
  --mw-component-button-filled-color-outline-focused: #001418;
  --mw-component-button-outline-ghost-color-bg-default: #ffffff00;
  --mw-component-button-outline-ghost-color-fg-default: #001418;
  --mw-component-button-outline-ghost-color-fg-hover: #ed2985;
  --mw-component-button-outline-ghost-color-fg-pressed: #c42177;
  --mw-component-button-outline-ghost-color-fg-disabled: #95a0a4;
  --mw-component-button-outline-ghost-color-fg-focused: #ed2985;
  --mw-component-button-outline-ghost-color-border-default: #001418;
  --mw-component-button-outline-ghost-color-border-hover: #ed2985;
  --mw-component-button-outline-ghost-color-border-pressed: #c42177;
  --mw-component-button-outline-ghost-color-border-disabled: #79868b;
  --mw-component-button-outline-ghost-color-border-focused: #001418;
  --mw-component-button-border-width-outline-default: 1px;
  --mw-component-button-border-width-outline-focused: 2px;
  --mw-component-button-border-width-filled-default: 0px;
  --mw-component-button-border-width-filled-focused: 2px;
  --mw-component-button-border-width-ghost-default: 0px;
  --mw-component-button-border-width-ghost-focused: 2px;
  --mw-component-button-border-radius-default: 9999px;
  --mw-component-button-sm-padding-x: 16px;
  --mw-component-button-sm-padding-y: 4px;
  --mw-component-button-sm-padding-icon: 8px;
  --mw-component-button-sm-gap-within: 8px;
  --mw-component-button-sm-gap-between: 8px;
  --mw-component-button-md-padding-x: 24px;
  --mw-component-button-md-padding-y: 8px;
  --mw-component-button-md-padding-icon: 12px;
  --mw-component-button-md-gap-within: 12px;
  --mw-component-button-md-gap-between: 12px;
  --mw-component-button-lg-padding-x: 32px;
  --mw-component-button-lg-padding-y: 12px;
  --mw-component-button-lg-padding-icon: 16px;
  --mw-component-button-lg-gap-within: 16px;
  --mw-component-button-lg-gap-between: 16px;
  --mw-component-button-xl-padding-x: 48px;
  --mw-component-button-xl-padding-y: 20px;
  --mw-component-button-xl-padding-icon: 20px;
  --mw-component-button-xl-gap-within: 20px;
  --mw-component-button-xl-gap-between: 20px;
  --mw-component-button-label-sm-font-family: Poppins;
  --mw-component-button-label-sm-font-weight: 700;
  --mw-component-button-label-sm-line-height: 24px;
  --mw-component-button-label-sm-font-size: 14px;
  --mw-component-button-label-md-font-family: Poppins;
  --mw-component-button-label-md-font-weight: 700;
  --mw-component-button-label-md-line-height: 24px;
  --mw-component-button-label-md-font-size: 16px;
  --mw-component-button-label-lg-font-family: Poppins;
  --mw-component-button-label-lg-font-weight: 700;
  --mw-component-button-label-lg-line-height: 24px;
  --mw-component-button-label-lg-font-size: 20px;
  --mw-component-button-label-xl-font-family: Poppins;
  --mw-component-button-label-xl-font-weight: 700;
  --mw-component-button-label-xl-line-height: 24px;
  --mw-component-button-label-xl-font-size: 24px;
  --mw-component-link-typo-font-family: Poppins;
  --mw-component-link-typo-font-weight: 700;
  --mw-component-link-typo-line-height: 24px;
  --mw-component-link-typo-font-size: 16px;
  --mw-component-link-typo-text-decoration: underline;
  --mw-component-link-color-fg-default: #001418;
  --mw-component-link-color-fg-hover: #ed2985;
  --mw-component-link-color-fg-pressed: #c42177;
  --mw-component-link-color-fg-focused: #ed2985;
  --mw-component-size-button-filled-outline-min-w: 88px;
  --mw-component-size-button-icon-xs: 12px;
  --mw-component-size-button-icon-sm: 16px;
  --mw-component-size-button-icon-md: 24px;
  --mw-component-size-button-icon-lg: 32px;
  --mw-component-size-button-icon-xl: 48px;
  --mw-component-size-toggle-switch-default-w: 52px;
  --mw-component-size-toggle-switch-default-h: 32px;
  --mw-component-size-controls-checkbox-radiobutton-container: 24px;
  --mw-component-size-controls-radiobutton-outline: 20px;
  --mw-component-size-controls-radiobutton-fill: 8px;
  --mw-component-size-controls-checkbox-box: 20px;
  --mw-component-size-text-field-min-w: 120px;
  --mw-component-size-text-field-label-horizontal-width: 120px;
  --mw-component-size-slider-label-horizontal-width: 120px;
  --mw-component-size-slider-handle: 20px;
  --mw-component-size-slider-track-h: 4px;
  --mw-component-size-chips-icons: 20px;
  --mw-component-size-chips-min-w: 64px;
  --mw-component-size-chips-height: 32px;
  --mw-component-size-tabs-default-h: 48px;
  --mw-component-size-tabs-with-icon-h: 64px;
  --mw-component-size-menu-item-default-h: 56px;
  --mw-component-size-avatars-xs: 20px;
  --mw-component-size-avatars-sm: 24px;
  --mw-component-size-avatars-md: 40px;
  --mw-component-size-avatars-lg: 56px;
  --mw-component-size-avatars-icon-xs: 12px;
  --mw-component-size-avatars-icon-sm: 16px;
  --mw-component-size-avatars-icon-md: 24px;
  --mw-component-size-avatars-icon-lg: 32px;
  --mw-component-size-avatars-icon-xl: 48px;
  --mw-component-size-header-height: 72px;
  --mw-component-size-modal-default-w: 800px;
  --mw-component-size-modal-small-w: 480px;
  --mw-component-controls-color-fg-default: #ffffff;
  --mw-component-controls-color-fg-disabled: #EEF1F3;
  --mw-component-controls-color-fg-off: #001418;
  --mw-component-controls-color-bg-selected: #ed2985;
  --mw-component-controls-color-bg-disabled: #95a0a4;
  --mw-component-controls-color-bg-hover: #c42177;
  --mw-component-controls-color-bg-focused: #c42177;
  --mw-component-controls-color-bg-pressed: #991766;
  --mw-component-controls-color-bg-unselected: #ffffff00;
  --mw-component-controls-color-outline-default: #001418;
  --mw-component-controls-color-outline-disabled: #79868b;
  --mw-component-controls-color-label-default: #001418;
  --mw-component-controls-color-label-disabled: #95a0a4;
  --mw-component-controls-padding-all: 0px;
  --mw-component-controls-border-width-selected: 0px;
  --mw-component-controls-border-width-focused: 2px;
  --mw-component-controls-border-width-unselected: 2px;
  --mw-component-checkbox-border-radius: 2px;
  --mw-component-controls-with-label-gap: 12px;
  --mw-component-controls-with-label-padding-y: 12px;
  --mw-component-controls-with-label-padding-l: 0px;
  --mw-component-controls-with-label-padding-r: 12px;
  --mw-component-control-label-font-family: Poppins;
  --mw-component-control-label-font-weight: 400;
  --mw-component-control-label-line-height: 24px;
  --mw-component-control-label-font-size: 16px;
  --mw-component-text-field-label-font-family: Poppins;
  --mw-component-text-field-label-font-weight: 400;
  --mw-component-text-field-label-line-height: 16px;
  --mw-component-text-field-label-font-size: 14px;
  --mw-component-text-field-helper-text-font-family: Poppins;
  --mw-component-text-field-helper-text-font-weight: 400;
  --mw-component-text-field-helper-text-line-height: 16px;
  --mw-component-text-field-helper-text-font-size: 14px;
  --mw-component-text-field-text-font-family: Poppins;
  --mw-component-text-field-text-font-weight: 400;
  --mw-component-text-field-text-line-height: 24px;
  --mw-component-text-field-text-font-size: 16px;
  --mw-component-text-field-fg-default: #001418;
  --mw-component-text-field-fg-helper-text: #B1BABE;
  --mw-component-text-field-fg-placeholder: #44555b;
  --mw-component-text-field-fg-disabled: #95a0a4;
  --mw-component-text-field-fg-error: #9f1b00;
  --mw-component-text-field-fg-required: #9f1b00;
  --mw-component-text-field-fg-icon-default: #44555b;
  --mw-component-text-field-fg-icon-focused: #ed2985;
  --mw-component-text-field-bg-default: #EEF1F3;
  --mw-component-text-field-bg-hover: #ffffff;
  --mw-component-text-field-bg-error: #FCBAB7;
  --mw-component-text-field-border-default: #B1BABE;
  --mw-component-text-field-border-focused: #001418;
  --mw-component-text-field-default: 1px;
  --mw-component-text-field-gap-group-vertical: 2px;
  --mw-component-text-field-gap-horizontal-gap-between: 12px;
  --mw-component-text-field-gap-horizontal-gap-within: 8px;
  --mw-component-text-field-padding-text-field-x: 16px;
  --mw-component-text-field-padding-text-field-y: 8px;
  --mw-component-text-field-padding-helper-text-y: 4px;
  --mw-component-text-field-padding-helper-text-l: 16px;
  --mw-component-text-field-padding-label-vertical-x: 16px;
  --mw-component-text-field-padding-label-horizontal: 0px;
  --mw-component-text-field-focused: 2px;
  --mw-component-slider-with-label-gap-within-y: 8px;
  --mw-component-slider-padding-label-x: 0px;
  --mw-component-slider-handle-hover-gap-between: 4px;
  --mw-component-slider-label-font-family: Poppins;
  --mw-component-slider-label-font-weight: 400;
  --mw-component-slider-label-line-height: 16px;
  --mw-component-slider-label-font-size: 12px;
  --mw-component-slider-border-focused: [object Object];
  --mw-component-slider-default-active: #ed2985;
  --mw-component-slider-hover: #c42177;
  --mw-component-slider-disabled: #95a0a4;
  --mw-component-slider-focus: #c42177;
  --mw-component-slider-disabled-inactive: #CFD6D8;
  --mw-component-slider-default-inactive: #F9E2EE;
  --mw-component-slider-fg: #ffffff;
  --mw-component-slider-pressed: #991766;
  --mw-component-slider-icons-default: #44555b;
  --mw-component-menu-item-title-font-family: Poppins;
  --mw-component-menu-item-title-font-weight: 400;
  --mw-component-menu-item-title-line-height: 24px;
  --mw-component-menu-item-title-font-size: 16px;
  --mw-component-menu-item-subtitle-font-family: Poppins;
  --mw-component-menu-item-subtitle-font-weight: 400;
  --mw-component-menu-item-subtitle-line-height: 24px;
  --mw-component-menu-item-subtitle-font-size: 14px;
  --mw-component-menu-item-border-radius: 4px;
  --mw-component-menu-item-border-width-default: 0px;
  --mw-component-menu-item-border-width-focused: 2px;
  --mw-component-menu-item-fg-title: #001418;
  --mw-component-menu-item-fg-subtitle: #44555b;
  --mw-component-menu-item-fg-selected: #ed2985;
  --mw-component-menu-item-fg-disabled: #95a0a4;
  --mw-component-menu-item-fg-hover: #ed2985;
  --mw-component-menu-item-fg-focused: #ed2985;
  --mw-component-menu-item-fg-pressed: #991766;
  --mw-component-menu-item-bg-default: #ffffff;
  --mw-component-menu-item-border-focused: #001418;
  --mw-component-menu-item-gap-between: 0px;
  --mw-component-list-item-title-font-family: Poppins;
  --mw-component-list-item-title-font-weight: 400;
  --mw-component-list-item-title-line-height: 24px;
  --mw-component-list-item-title-font-size: 16px;
  --mw-component-list-item-subtitle-font-family: Poppins;
  --mw-component-list-item-subtitle-font-weight: 400;
  --mw-component-list-item-subtitle-line-height: 24px;
  --mw-component-list-item-subtitle-font-size: 14px;
  --mw-component-list-item-border-radius: 4px;
  --mw-component-list-item-fg-title: #001418;
  --mw-component-list-item-fg-supporting-text: #44555b;
  --mw-component-list-item-fg-disabled: #95a0a4;
  --mw-component-list-item-fg-hover: #ed2985;
  --mw-component-list-item-fg-pressed: #991766;
  --mw-component-list-item-bg-default: #ffffff;
  --mw-component-list-item-bg-selected: #F9E2EE;
  --mw-component-list-item-bg-transparent: #ffffff00;
  --mw-component-list-item-border-focused: [object Object];
  --mw-component-list-item-1-line-h: 56px;
  --mw-component-list-item-2-line-h: 72px;
  --mw-component-list-item-gap-within: 16px;
  --mw-component-list-item-padding-l: 24px;
  --mw-component-list-item-padding-r: 24px;
  --mw-component-list-item-3-line-padding-y: 12px;
  --mw-component-list-item-gap-between: 0px;
  --mw-component-menu-shadow-0: {;
  --mw-component-menu-shadow-1: e;
  --mw-component-menu-shadow-2: l;
  --mw-component-menu-shadow-3: e;
  --mw-component-menu-shadow-4: v;
  --mw-component-menu-shadow-5: a;
  --mw-component-menu-shadow-6: t;
  --mw-component-menu-shadow-7: i;
  --mw-component-menu-shadow-8: o;
  --mw-component-menu-shadow-9: n;
  --mw-component-menu-shadow-10: .;
  --mw-component-menu-shadow-11: 8px;
  --mw-component-menu-shadow-12: d;
  --mw-component-menu-shadow-13: p;
  --mw-component-menu-shadow-14: };
  --mw-component-divider-fg-default: #B1BABE;
  --mw-component-divider-inset: 16px;
  --mw-component-divider-border-width-default: 1px;
  --mw-component-chips-typo-font-family: Poppins;
  --mw-component-chips-typo-font-weight: 500;
  --mw-component-chips-typo-font-size: 14px;
  --mw-component-chips-typo-line-height: 16px;
  --mw-component-chips-padding-x: 12px;
  --mw-component-chips-border-width-default: 1px;
  --mw-component-chips-border-width-focused: 2px;
  --mw-component-chips-color-border-default: #44555b;
  --mw-component-chips-color-border-disabled: #79868b;
  --mw-component-chips-color-border-selected: #ed2985;
  --mw-component-chips-color-fg-default: #44555b;
  --mw-component-chips-color-fg-disabled: #95a0a4;
  --mw-component-chips-color-fg-selected: #ed2985;
  --mw-component-chips-color-bg-default: #ffffff;
  --mw-component-chips-color-bg-hover: #EEF1F3;
  --mw-component-chips-color-bg-pressed: #CFD6D8;
  --mw-component-chips-border-radius: 12px;
  --mw-component-chips-gap-within: 8px;
  --mw-component-chips-gap-between-x: 8px;
  --mw-component-chips-gap-between-y: 12px;
  --mw-component-avatars-color-bg-default: #991766;
  --mw-component-avatars-color-fg-default: #ffffff;
  --mw-component-avatars-typo-xs-font-family: Poppins;
  --mw-component-avatars-typo-xs-font-weight: 400;
  --mw-component-avatars-typo-xs-line-height: 16px;
  --mw-component-avatars-typo-xs-font-size: 10px;
  --mw-component-avatars-typo-sm-font-family: Poppins;
  --mw-component-avatars-typo-sm-font-weight: 400;
  --mw-component-avatars-typo-sm-line-height: 16px;
  --mw-component-avatars-typo-sm-font-size: 14px;
  --mw-component-avatars-typo-md-font-family: Poppins;
  --mw-component-avatars-typo-md-font-weight: 400;
  --mw-component-avatars-typo-md-line-height: 48px;
  --mw-component-avatars-typo-md-font-size: 24px;
  --mw-component-avatars-typo-lg-font-family: Poppins;
  --mw-component-avatars-typo-lg-font-weight: 400;
  --mw-component-avatars-typo-lg-line-height: 48px;
  --mw-component-avatars-typo-lg-font-size: 32px;
  --mw-component-card-bg-default: #FAFAFA;
  --mw-component-card-border-radius: 12px;
  --mw-component-card-shadow-elevated-0: {;
  --mw-component-card-shadow-elevated-1: e;
  --mw-component-card-shadow-elevated-2: l;
  --mw-component-card-shadow-elevated-3: e;
  --mw-component-card-shadow-elevated-4: v;
  --mw-component-card-shadow-elevated-5: a;
  --mw-component-card-shadow-elevated-6: t;
  --mw-component-card-shadow-elevated-7: i;
  --mw-component-card-shadow-elevated-8: o;
  --mw-component-card-shadow-elevated-9: n;
  --mw-component-card-shadow-elevated-10: .;
  --mw-component-card-shadow-elevated-11: 8px;
  --mw-component-card-shadow-elevated-12: d;
  --mw-component-card-shadow-elevated-13: p;
  --mw-component-card-shadow-elevated-14: };
  --mw-component-card-shadow-outlined-0: {;
  --mw-component-card-shadow-outlined-1: e;
  --mw-component-card-shadow-outlined-2: l;
  --mw-component-card-shadow-outlined-3: e;
  --mw-component-card-shadow-outlined-4: v;
  --mw-component-card-shadow-outlined-5: a;
  --mw-component-card-shadow-outlined-6: t;
  --mw-component-card-shadow-outlined-7: i;
  --mw-component-card-shadow-outlined-8: o;
  --mw-component-card-shadow-outlined-9: n;
  --mw-component-card-shadow-outlined-10: .;
  --mw-component-card-shadow-outlined-11: 0px;
  --mw-component-card-shadow-outlined-12: d;
  --mw-component-card-shadow-outlined-13: p;
  --mw-component-card-shadow-outlined-14: };
  --mw-component-card-border-width-elevated: 0px;
  --mw-component-card-border-width-outlined: 1px;
  --mw-component-card-border-outlined: #44555b;
  --mw-component-card-header-font-family: Poppins;
  --mw-component-card-header-font-weight: 600;
  --mw-component-card-header-line-height: 24px;
  --mw-component-card-header-font-size: 16px;
  --mw-component-card-title-font-family: Poppins;
  --mw-component-card-title-font-weight: 400;
  --mw-component-card-title-line-height: 32px;
  --mw-component-card-title-font-size: 24px;
  --mw-component-card-subhead-font-family: Poppins;
  --mw-component-card-subhead-font-weight: 400;
  --mw-component-card-subhead-line-height: 24px;
  --mw-component-card-subhead-font-size: 16px;
  --mw-component-card-subtitle-font-family: Poppins;
  --mw-component-card-subtitle-font-weight: 400;
  --mw-component-card-subtitle-line-height: 24px;
  --mw-component-card-subtitle-font-size: 16px;
  --mw-component-card-metadata-font-family: Poppins;
  --mw-component-card-metadata-font-weight: 400;
  --mw-component-card-metadata-line-height: 24px;
  --mw-component-card-metadata-font-size: 14px;
  --mw-component-card-fg-default: #001418;
  --mw-component-card-fg-muted: #44555b;
  --mw-component-card-padding-components-x-default: 24px;
  --mw-component-card-padding-components-y-default: 24px;
  --mw-component-card-padding-footer-t-default: 24px;
  --mw-component-card-padding-b-default: 24px;
  --mw-component-modal-padding-b-default: 24px;
  --mw-component-modal-bg-default: #FAFAFA;
  --mw-component-modal-border-radius: 8px;
  --mw-component-modal-shadow-default-0: {;
  --mw-component-modal-shadow-default-1: e;
  --mw-component-modal-shadow-default-2: l;
  --mw-component-modal-shadow-default-3: e;
  --mw-component-modal-shadow-default-4: v;
  --mw-component-modal-shadow-default-5: a;
  --mw-component-modal-shadow-default-6: t;
  --mw-component-modal-shadow-default-7: i;
  --mw-component-modal-shadow-default-8: o;
  --mw-component-modal-shadow-default-9: n;
  --mw-component-modal-shadow-default-10: .;
  --mw-component-modal-shadow-default-11: 2px;
  --mw-component-modal-shadow-default-12: 4px;
  --mw-component-modal-shadow-default-13: d;
  --mw-component-modal-shadow-default-14: p;
  --mw-component-modal-shadow-default-15: };
  --mw-component-modal-title-font-family: Poppins;
  --mw-component-modal-title-font-weight: 400;
  --mw-component-modal-title-line-height: 32px;
  --mw-component-modal-title-font-size: 24px;
  --mw-component-modal-description-font-family: Poppins;
  --mw-component-modal-description-font-weight: 400;
  --mw-component-modal-description-line-height: 24px;
  --mw-component-modal-description-font-size: 16px;
  --mw-component-modal-fg-default: #001418;
  --mw-component-modal-fg-muted: #44555b;
  --mw-component-modal-padding-components-x-default: 24px;
  --mw-component-modal-padding-components-y-default: 24px;
  --mw-component-modal-padding-footer-t-default: 24px;
  --mw-component-modal-header-gap-within: 24px;
  --mw-component-modal-backdrop: #44555b;
  --mw-component-modal-margin-t: 96px;
  --mw-component-modal-margin-x: 24px;
  --mw-component-tabs-fg-selected: #ed2985;
  --mw-component-tabs-fg-default: #44555b;
  --mw-component-tabs-fg-disabled: #95a0a4;
  --mw-component-tabs-label-font-family: Poppins;
  --mw-component-tabs-label-font-weight: 500;
  --mw-component-tabs-label-line-height: 20px;
  --mw-component-tabs-label-font-size: 14px;
  --mw-component-tabs-bg-default: #FAFAFA;
  --mw-component-tabs-bg-hover: #EEF1F3;
  --mw-component-tabs-bg-pressed: #CFD6D8;
  --mw-component-tabs-padding-x: 24px;
  --mw-component-tabs-gap-within: 4px;
  --mw-component-tabs-border-focused: [object Object];
  --mw-component-header-padding-x: 24px;
  --mw-component-header-gap-within: 12px;
  --mw-component-header-bg-default: #1d184b;
  --mw-component-header-fg-default: #ffffff;
  --mw-component-header-title-font-family: Poppins;
  --mw-component-header-title-font-weight: 400;
  --mw-component-header-title-line-height: 48px;
  --mw-component-header-title-font-size: 24px;
  --mw-component-log-in-title-font-family: Poppins;
  --mw-component-log-in-title-font-weight: 600;
  --mw-component-log-in-title-font-size: 40px;
  --mw-component-log-in-title-line-height: 60px;
  --mw-component-log-in-margin-xy: 64px;
  --mw-component-log-in-content-gap-within: 16px;
  --mw-component-log-in-sign-up-gap-within: 4px;
  --mw-component-log-in-bg-default: #ffffff;
  --mw-semantic-color-border-disabled: #79868b;
  --mw-semantic-color-border-default: #001418;
  --mw-semantic-color-border-subtle: #B1BABE;
  --mw-semantic-color-border-muted: #44555b;
  --mw-semantic-color-fg-default: #001418;
  --mw-semantic-color-fg-muted: #44555b;
  --mw-semantic-color-fg-subtle: #B1BABE;
  --mw-semantic-color-fg-disabled: #95a0a4;
  --mw-semantic-color-fg-on-accent: #ffffff;
  --mw-semantic-color-fg-on-disabled: #EEF1F3;
  --mw-semantic-color-fg-on-pressed: #EEF1F3;
  --mw-semantic-color-fg-on-dark: #ffffff;
  --mw-semantic-color-bg-default: #ffffff;
  --mw-semantic-color-bg-muted: #CFD6D8;
  --mw-semantic-color-bg-subtle: #EEF1F3;
  --mw-semantic-color-bg-canvas: #FAFAFA;
  --mw-semantic-color-bg-disabled: #95a0a4;
  --mw-semantic-color-bg-overlay: #000000;
  --mw-semantic-color-bg-transparent: #ffffff00;
  --mw-semantic-color-accent-primary-default: #ed2985;
  --mw-semantic-color-accent-primary-muted: #c42177;
  --mw-semantic-color-accent-primary-intense: #991766;
  --mw-semantic-color-accent-primary-subtle: #F9E2EE;
  --mw-semantic-color-accent-primary-disabled: #CFD6D8;
  --mw-semantic-color-accent-secondary-default: #1d184b;
  --mw-semantic-color-error-bg: #FCBAB7;
  --mw-semantic-color-error-intense: #E51B00;
  --mw-semantic-color-error-fg: #9f1b00;
  --mw-semantic-color-error-muted: #cb2400;
  --mw-semantic-color-error-subtle: #FDD5D3;
  --mw-semantic-color-error-on-error: #ffffff;
  --mw-semantic-color-warning-bg: #FAE39E;
  --mw-semantic-color-warning-intense: #FFB218;
  --mw-semantic-color-warning-fg: #975c0b;
  --mw-semantic-color-warning-muted: #DD8916;
  --mw-semantic-color-warning-subtle: #FBEDBB;
  --mw-semantic-color-warning-on-warning: #000000;
  --mw-semantic-color-info-bg: #97E0FC;
  --mw-semantic-color-info-intense: #0bd2ff;
  --mw-semantic-color-info-fg: #027784;
  --mw-semantic-color-info-muted: #0192a7;
  --mw-semantic-color-info-subtle: #C8EBFD;
  --mw-semantic-color-info-on-info: #000000;
  --mw-semantic-color-success-bg: #74FB86;
  --mw-semantic-color-success-intense: #3CFA50;
  --mw-semantic-color-success-fg: #407800;
  --mw-semantic-color-success-muted: #36b500;
  --mw-semantic-color-success-subtle: #B4FDC1;
  --mw-semantic-color-success-on-success: #000000;
  --mw-semantic-font-line-height-body-regular: 24px;
  --mw-semantic-font-line-height-subtitle-regular: 48px;
  --mw-semantic-font-line-height-h1-regular: 108px;
  --mw-semantic-font-line-height-h2-regular: 96px;
  --mw-semantic-font-line-height-h3-regular: 84px;
  --mw-semantic-font-line-height-h4-regular: 72px;
  --mw-semantic-font-line-height-h5-regular: 60px;
  --mw-semantic-font-line-height-caption-regular: 48px;
  --mw-semantic-font-line-height-label-regular: 16px;
  --mw-semantic-font-line-height-overline-regular: 16px;
  --mw-semantic-font-font-size-body-regular: 16px;
  --mw-semantic-font-font-size-hero-regular: 112px;
  --mw-semantic-font-font-size-h1-regular: 72px;
  --mw-semantic-font-font-size-h3-regular: 56px;
  --mw-semantic-font-font-size-h2-regular: 64px;
  --mw-semantic-font-font-size-subtitle-regular: 24px;
  --mw-semantic-font-font-size-label-sm: 14px;
  --mw-semantic-font-font-size-label-xs: 12px;
  --mw-semantic-font-font-size-label-md: 16px;
  --mw-semantic-font-font-size-label-lg: 20px;
  --mw-semantic-font-font-size-label-xl: 24px;
  --mw-semantic-font-font-size-caption-regular: 14px;
  --mw-semantic-font-font-size-overline-regular: 10px;
  --mw-semantic-font-font-size-h4-regular: 48px;
  --mw-semantic-font-font-size-h5-regular: 40px;
  --mw-semantic-font-font-size-h6-regular: 32px;
  --mw-core-color-white: #ffffff;
  --mw-core-color-black: #000000;
  --mw-core-color-transparent: #ffffff00;
  --mw-core-color-pink-100: #F9E2EE;
  --mw-core-color-pink-200: #F9C7E2;
  --mw-core-color-pink-300: #FA9EC7;
  --mw-core-color-pink-400: #F86FA8;
  --mw-core-color-pink-500: #ed2985;
  --mw-core-color-pink-600: #c42177;
  --mw-core-color-pink-700: #991766;
  --mw-core-color-pink-800: #700f52;
  --mw-core-color-pink-900: #470b3a;
  --mw-core-color-pink-950: #22051E;
  --mw-core-color-purple-100: #E0DDF4;
  --mw-core-color-purple-200: #CAC1EB;
  --mw-core-color-purple-300: #B0A0E4;
  --mw-core-color-purple-400: #9F89DC;
  --mw-core-color-purple-500: #8C6ED4;
  --mw-core-color-purple-600: #7951C9;
  --mw-core-color-purple-700: #5f37bf;
  --mw-core-color-purple-800: #3a2997;
  --mw-core-color-purple-900: #1d184b;
  --mw-core-color-neutral-50: #FAFAFA;
  --mw-core-color-neutral-100: #EEF1F3;
  --mw-core-color-neutral-200: #CFD6D8;
  --mw-core-color-neutral-300: #B1BABE;
  --mw-core-color-neutral-400: #95a0a4;
  --mw-core-color-neutral-500: #79868b;
  --mw-core-color-neutral-600: #5e6d72;
  --mw-core-color-neutral-700: #44555b;
  --mw-core-color-neutral-800: #2c3e45;
  --mw-core-color-neutral-900: #112930;
  --mw-core-color-neutral-950: #001418;
  --mw-core-color-blue-100: #C8EBFD;
  --mw-core-color-blue-200: #97E0FC;
  --mw-core-color-blue-300: #0bd2ff;
  --mw-core-color-blue-400: #00B9DB;
  --mw-core-color-blue-500: #0192a7;
  --mw-core-color-blue-600: #027784;
  --mw-core-color-blue-700: #005c63;
  --mw-core-color-blue-800: #014345;
  --mw-core-color-blue-900: #042b2b;
  --mw-core-color-green-100: #B4FDC1;
  --mw-core-color-green-200: #74FB86;
  --mw-core-color-green-300: #3CFA50;
  --mw-core-color-green-400: #36b500;
  --mw-core-color-green-500: #429601;
  --mw-core-color-green-600: #407800;
  --mw-core-color-green-700: #385c00;
  --mw-core-color-green-800: #2d4100;
  --mw-core-color-green-900: #212903;
  --mw-core-color-yellow-100: #FBEDBB;
  --mw-core-color-yellow-200: #FAE39E;
  --mw-core-color-yellow-300: #FFC533;
  --mw-core-color-yellow-400: #FFB218;
  --mw-core-color-yellow-500: #DD8916;
  --mw-core-color-yellow-600: #975c0b;
  --mw-core-color-yellow-700: #764706;
  --mw-core-color-yellow-800: #563305;
  --mw-core-color-yellow-900: #352107;
  --mw-core-color-red-100: #FDD5D3;
  --mw-core-color-red-200: #FCBAB7;
  --mw-core-color-red-300: #FC8B83;
  --mw-core-color-red-400: #FF4433;
  --mw-core-color-red-500: #E51B00;
  --mw-core-color-red-600: #cb2400;
  --mw-core-color-red-700: #9f1b00;
  --mw-core-color-red-800: #731700;
  --mw-core-color-red-900: #440B05;
  --mw-core-font-size-scale-default: 1.25px;
  --mw-core-font-size-scale-sm: 0.875px;
  --mw-core-font-size-scale-lg: 1.5px;
  --mw-core-font-size-scale-xl: 2px;
  --mw-core-font-size-scale-2xl: 2.5px;
  --mw-core-font-size-scale-5xl: 4px;
  --mw-core-font-size-scale-3xl: 3px;
  --mw-core-font-size-scale-4xl: 3.5px;
  --mw-core-font-size-scale-6xl: 4.5px;
  --mw-core-font-size-scale-7xl: 7px;
  --mw-core-font-size-scale-xs: 1.33px;
  --mw-core-font-size-scale-xxs: 1.6px;
  --mw-core-font-size-sm: 14px;
  --mw-core-font-size-md: 20px;
  --mw-core-font-size-base: 16px;
  --mw-core-font-size-lg: 24px;
  --mw-core-font-size-xl: 32px;
  --mw-core-font-size-2xl: 40px;
  --mw-core-font-size-3xl: 48px;
  --mw-core-font-size-4xl: 56px;
  --mw-core-font-size-5xl: 64px;
  --mw-core-font-size-6xl: 72px;
  --mw-core-font-size-7xl: 112px;
  --mw-core-font-size-xs: 12px;
  --mw-core-font-size-xxs: 10px;
  --mw-core-font-font-families-headlines: Poppins;
  --mw-core-font-font-families-body: Poppins;
  --mw-core-font-line-height-base: 24px;
  --mw-core-font-line-height-scale-default: 1.25px;
  --mw-core-font-line-height-scale-sm: 0.833px;
  --mw-core-font-line-height-scale-xs: 0.66px;
  --mw-core-font-line-height-scale-xxs: 0.5px;
  --mw-core-font-line-height-scale-lg: 1.5px;
  --mw-core-font-line-height-scale-xl: 2px;
  --mw-core-font-line-height-scale-2xl: 2.5px;
  --mw-core-font-line-height-scale-3xl: 3px;
  --mw-core-font-line-height-scale-4xl: 3.5px;
  --mw-core-font-line-height-scale-5xl: 4px;
  --mw-core-font-line-height-scale-6xl: 4.5px;
  --mw-core-font-line-height-scale-7xl: 5px;
  --mw-core-font-line-height-sm: 20px;
  --mw-core-font-line-height-xs: 16px;
  --mw-core-font-line-height-lg: 36px;
  --mw-core-font-line-height-xl: 48px;
  --mw-core-font-line-height-2xl: 60px;
  --mw-core-font-line-height-3xl: 72px;
  --mw-core-font-line-height-4xl: 84px;
  --mw-core-font-line-height-5xl: 96px;
  --mw-core-font-line-height-6xl: 108px;
  --mw-core-font-line-height-7xl: 120px;
  --mw-core-font-line-height-xxs: 12px;
  --mw-core-font-weight-headlines-bold: Bold;
  --mw-core-font-weight-headlines-regular: Regular;
  --mw-core-font-weight-headlines-semibold: SemiBold;
  --mw-core-font-weight-body-bold: Bold;
  --mw-core-font-weight-body-regular: Regular;
  --mw-core-font-weight-body-medium: Medium;
  --mw-core-spacing-linear-base: 4px;
  --mw-core-spacing-linear-scale: 4px;
  --mw-core-spacing-linear-xs: 4px;
  --mw-core-spacing-linear-sm: 8px;
  --mw-core-spacing-linear-md: 12px;
  --mw-core-spacing-linear-lg: 16px;
  --mw-core-spacing-linear-xl: 20px;
  --mw-core-spacing-linear-2xl: 24px;
  --mw-core-spacing-linear-3xl: 28px;
  --mw-core-spacing-linear-4xl: 32px;
  --mw-core-spacing-linear-none: 0px;
  --mw-core-spacing-linear-xxs: 2px;
  --mw-core-spacing-geometric-base: 2px;
  --mw-core-spacing-geometric-sm: 2px;
  --mw-core-spacing-geometric-md: 4px;
  --mw-core-spacing-geometric-lg: 8px;
  --mw-core-spacing-geometric-xl: 16px;
  --mw-core-spacing-geometric-2xl: 32px;
  --mw-core-spacing-geometric-3xl: 64px;
  --mw-core-spacing-modular-base: 4px;
  --mw-core-spacing-modular-scale: 1.618px;
  --mw-core-spacing-modular-xs: 4px;
  --mw-core-spacing-modular-sm: 6px;
  --mw-core-spacing-modular-md: 10px;
  --mw-core-spacing-modular-lg: 16px;
  --mw-core-spacing-modular-xl: 26px;
  --mw-core-spacing-modular-2xl: 42px;
  --mw-core-spacing-modular-3xl: 68px;
  --mw-core-sizing-base: 4px;
  --mw-core-sizing-scale: 1.5*4px;
  --mw-core-sizing-xs: NaNpx;
  --mw-core-sizing-sm: NaNpx;
  --mw-core-sizing-md: NaNpx;
  --mw-core-sizing-lg: NaNpx;
  --mw-core-sizing-xl: NaNpx;
  --mw-core-border-width-none: 0px;
  --mw-core-border-width-base: 1px;
  --mw-core-border-width-scale: 1px;
  --mw-core-border-width-xs: 1px;
  --mw-core-border-width-sm: 2px;
  --mw-core-border-width-md: 3px;
  --mw-core-border-width-lg: 4px;
  --mw-core-border-width-xl: 5px;
  --mw-component-opacity-modal-backdrop: 0.4px;
  --shadows-blur-20: 3px;
  --shadows-blur-40: 4px;
  --shadows-blur-60: 8px;
  --shadows-blur-80: 16px;
  --shadows-blur-100: 24px;
  --shadows-blur-base: 1px;
  --shadows-y-20: 1px;
  --shadows-y-40: 2px;
  --shadows-y-60: 4px;
  --shadows-y-80: 8px;
  --shadows-y-100: 16px;
  --letter-spacing-body: 0%;
  --letter-spacing-headlines: -1%;
  --letter-spacing-buttons: 3%;
  --letter-spacing-captions: 0%;
  --paragraph-spacing-default: 0px;
  --text-case-none: none;
  --text-case-captions: none;
  --text-case-buttons: none;
  --text-case-headlines: none;
  --text-decoration-none: none;
  --text-decoration-buttons: none;
  --text-decoration-captions: none;
  --border-radius-standard-sm: 2px;
  --border-radius-standard-md: 4px;
  --border-radius-standard-lg: 8px;
  --border-radius-standard-xl: 12px;
  --border-radius-standard-2xl: 16px;
  --border-radius-standard-pill: 9999px;
  --border-radius-standard-circle: 50%;
  --opacity-100: 1px;
  --opacity-000: 0px;
  --opacity-010: 0.1px;
  --opacity-020: 0.2px;
  --opacity-030: 0.3px;
  --opacity-040: 0.4px;
  --opacity-050: 0.5px;
  --opacity-060: 0.6px;
  --opacity-070: 0.7px;
  --opacity-080: 0.8px;
  --opacity-090: 0.9px;
  --opacity-elevation-numbra: 0.2px;
  --opacity-elevation-penumbra: 0.14px;
  --opacity-elevation-ambient: 0.12px;
  --elevation-0dp-0-x: 0px;
  --elevation-0dp-0-y: 0px;
  --elevation-0dp-0-blur: 0px;
  --elevation-0dp-0-spread: 0px;
  --elevation-0dp-0-color: #00000033;
  --elevation-0dp-0-type: dropShadow;
  --elevation-0dp-1-x: 0px;
  --elevation-0dp-1-y: 0px;
  --elevation-0dp-1-blur: 0px;
  --elevation-0dp-1-spread: 0px;
  --elevation-0dp-1-color: #00000024;
  --elevation-0dp-1-type: dropShadow;
  --elevation-0dp-2-x: 0px;
  --elevation-0dp-2-y: 0px;
  --elevation-0dp-2-blur: 0px;
  --elevation-0dp-2-spread: 0px;
  --elevation-0dp-2-color: #0000001f;
  --elevation-0dp-2-type: dropShadow;
  --elevation-1dp-0-x: 0px;
  --elevation-1dp-0-y: 2px;
  --elevation-1dp-0-blur: 1px;
  --elevation-1dp-0-spread: -1px;
  --elevation-1dp-0-color: #00000033;
  --elevation-1dp-0-type: dropShadow;
  --elevation-1dp-1-x: 0px;
  --elevation-1dp-1-y: 1px;
  --elevation-1dp-1-blur: 1px;
  --elevation-1dp-1-spread: 0px;
  --elevation-1dp-1-color: #00000024;
  --elevation-1dp-1-type: dropShadow;
  --elevation-1dp-2-x: 0px;
  --elevation-1dp-2-y: 1px;
  --elevation-1dp-2-blur: 3px;
  --elevation-1dp-2-spread: 0px;
  --elevation-1dp-2-color: #0000001f;
  --elevation-1dp-2-type: dropShadow;
  --elevation-2dp-0-x: 0px;
  --elevation-2dp-0-y: 3px;
  --elevation-2dp-0-blur: 1px;
  --elevation-2dp-0-spread: -2px;
  --elevation-2dp-0-color: #00000033;
  --elevation-2dp-0-type: dropShadow;
  --elevation-2dp-1-x: 0px;
  --elevation-2dp-1-y: 2px;
  --elevation-2dp-1-blur: 2px;
  --elevation-2dp-1-spread: 0px;
  --elevation-2dp-1-color: #00000024;
  --elevation-2dp-1-type: dropShadow;
  --elevation-2dp-2-x: 0px;
  --elevation-2dp-2-y: 1px;
  --elevation-2dp-2-blur: 5px;
  --elevation-2dp-2-spread: 0px;
  --elevation-2dp-2-color: #0000001f;
  --elevation-2dp-2-type: dropShadow;
  --elevation-3dp-0-x: 0px;
  --elevation-3dp-0-y: 3px;
  --elevation-3dp-0-blur: 3px;
  --elevation-3dp-0-spread: -2px;
  --elevation-3dp-0-color: #00000033;
  --elevation-3dp-0-type: dropShadow;
  --elevation-3dp-1-x: 0px;
  --elevation-3dp-1-y: 3px;
  --elevation-3dp-1-blur: 4px;
  --elevation-3dp-1-spread: 0px;
  --elevation-3dp-1-color: #00000024;
  --elevation-3dp-1-type: dropShadow;
  --elevation-3dp-2-x: 0px;
  --elevation-3dp-2-y: 1px;
  --elevation-3dp-2-blur: 8px;
  --elevation-3dp-2-spread: 0px;
  --elevation-3dp-2-color: #0000001f;
  --elevation-3dp-2-type: dropShadow;
  --elevation-4dp-0-x: 0px;
  --elevation-4dp-0-y: 2px;
  --elevation-4dp-0-blur: 4px;
  --elevation-4dp-0-spread: -1px;
  --elevation-4dp-0-color: #00000033;
  --elevation-4dp-0-type: dropShadow;
  --elevation-4dp-1-x: 0px;
  --elevation-4dp-1-y: 4px;
  --elevation-4dp-1-blur: 5px;
  --elevation-4dp-1-spread: 0px;
  --elevation-4dp-1-color: #00000024;
  --elevation-4dp-1-type: dropShadow;
  --elevation-4dp-2-x: 0px;
  --elevation-4dp-2-y: 1px;
  --elevation-4dp-2-blur: 10px;
  --elevation-4dp-2-spread: 0px;
  --elevation-4dp-2-color: #0000001f;
  --elevation-4dp-2-type: dropShadow;
  --elevation-6dp-0-x: 0px;
  --elevation-6dp-0-y: 3px;
  --elevation-6dp-0-blur: 5px;
  --elevation-6dp-0-spread: -1px;
  --elevation-6dp-0-color: #00000033;
  --elevation-6dp-0-type: dropShadow;
  --elevation-6dp-1-x: 0px;
  --elevation-6dp-1-y: 5px;
  --elevation-6dp-1-blur: 8px;
  --elevation-6dp-1-spread: 0px;
  --elevation-6dp-1-color: #00000024;
  --elevation-6dp-1-type: dropShadow;
  --elevation-6dp-2-x: 0px;
  --elevation-6dp-2-y: 1px;
  --elevation-6dp-2-blur: 14px;
  --elevation-6dp-2-spread: 0px;
  --elevation-6dp-2-color: #0000001f;
  --elevation-6dp-2-type: dropShadow;
  --elevation-8dp-0-x: 0px;
  --elevation-8dp-0-y: 5px;
  --elevation-8dp-0-blur: 5px;
  --elevation-8dp-0-spread: -3px;
  --elevation-8dp-0-color: #00000033;
  --elevation-8dp-0-type: dropShadow;
  --elevation-8dp-1-x: 0px;
  --elevation-8dp-1-y: 8px;
  --elevation-8dp-1-blur: 10px;
  --elevation-8dp-1-spread: 1px;
  --elevation-8dp-1-color: #00000024;
  --elevation-8dp-1-type: dropShadow;
  --elevation-8dp-2-x: 0px;
  --elevation-8dp-2-y: 3px;
  --elevation-8dp-2-blur: 14px;
  --elevation-8dp-2-spread: 2px;
  --elevation-8dp-2-color: #0000001f;
  --elevation-8dp-2-type: dropShadow;
  --elevation-12dp-0-x: 0px;
  --elevation-12dp-0-y: 7px;
  --elevation-12dp-0-blur: 8px;
  --elevation-12dp-0-spread: -4px;
  --elevation-12dp-0-color: #00000033;
  --elevation-12dp-0-type: dropShadow;
  --elevation-12dp-1-x: 0px;
  --elevation-12dp-1-y: 12px;
  --elevation-12dp-1-blur: 17px;
  --elevation-12dp-1-spread: 2px;
  --elevation-12dp-1-color: #00000024;
  --elevation-12dp-1-type: dropShadow;
  --elevation-12dp-2-x: 0px;
  --elevation-12dp-2-y: 5px;
  --elevation-12dp-2-blur: 22px;
  --elevation-12dp-2-spread: 4px;
  --elevation-12dp-2-color: #0000001f;
  --elevation-12dp-2-type: dropShadow;
  --elevation-16dp-0-x: 0px;
  --elevation-16dp-0-y: 8px;
  --elevation-16dp-0-blur: 10px;
  --elevation-16dp-0-spread: -5px;
  --elevation-16dp-0-color: #00000033;
  --elevation-16dp-0-type: dropShadow;
  --elevation-16dp-1-x: 0px;
  --elevation-16dp-1-y: 16px;
  --elevation-16dp-1-blur: 24px;
  --elevation-16dp-1-spread: 2px;
  --elevation-16dp-1-color: #00000024;
  --elevation-16dp-1-type: dropShadow;
  --elevation-16dp-2-x: 0px;
  --elevation-16dp-2-y: 6px;
  --elevation-16dp-2-blur: 30px;
  --elevation-16dp-2-spread: 5px;
  --elevation-16dp-2-color: #0000001f;
  --elevation-16dp-2-type: dropShadow;
  --elevation-24dp-0-x: 0px;
  --elevation-24dp-0-y: 11px;
  --elevation-24dp-0-blur: 15px;
  --elevation-24dp-0-spread: -7px;
  --elevation-24dp-0-color: #00000033;
  --elevation-24dp-0-type: dropShadow;
  --elevation-24dp-1-x: 0px;
  --elevation-24dp-1-y: 24px;
  --elevation-24dp-1-blur: 38px;
  --elevation-24dp-1-spread: 3px;
  --elevation-24dp-1-color: #00000024;
  --elevation-24dp-1-type: dropShadow;
  --elevation-24dp-2-x: 0px;
  --elevation-24dp-2-y: 9px;
  --elevation-24dp-2-blur: 46px;
  --elevation-24dp-2-spread: 8px;
  --elevation-24dp-2-color: #0000001f;
  --elevation-24dp-2-type: dropShadow;
  --shadow-numbra: #00000033;
  --shadow-penumbra: #00000024;
  --shadow-ambient: #0000001f;
}

body {
  font-family: 'Roboto', sans-serif;
}
