:host {
  display: block;
}

.chip {
  cursor: default;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--mw-component-chips-typo-font-family);
  font-size: var(--mw-component-chips-typo-font-size);
  line-height: var(--mw-component-chips-typo-line-height);
  font-weight: var(--mw-component-chips-typo-font-weight);
  /* FIXME: missing token */
  height: 32px;
  min-width: var(--mw-component-size-chips-min-width);
  border-top-left-radius: var(--mw-component-chips-border-radius);
  border-top-right-radius: var(--mw-component-chips-border-radius);
  border-bottom-left-radius: var(--mw-component-chips-border-radius);
  border-bottom-right-radius: var(--mw-component-chips-border-radius);
  -webkit-border-top-left-radius: var(--mw-component-chips-border-radius);
  -webkit-border-top-right-radius: var(--mw-component-chips-border-radius);
  -webkit-border-bottom-left-radius: var(--mw-component-chips-border-radius);
  -webkit-border-bottom-right-radius: var(--mw-component-chips-border-radius);
  gap: var(--mw-component-chips-gap-within);
  padding: 0 var(--mw-component-chips-padding-x);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-default) var(--mw-component-chips-color-border-default);
  color: var(--mw-component-chips-color-fg-default);
  background: var(--mw-component-chips-color-bg-default);
}

/* hover */
.chip:hover:not(.disabled) {
  /* FIXME: fg-hover doesn't currently exist */
  color: var(--mw-component-chips-color-fg-hover);
  background: var(--mw-component-chips-color-bg-hover);
}

/* selected */
.chip.selected {
  color: var(--mw-component-chips-color-fg-selected);
  background: var(--mw-component-chips-color-bg-default);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-default) var(--mw-component-chips-color-border-selected);
}

/* selected, hover */
.chip.selected:hover:not(.disabled) {
  color: var(--mw-component-chips-color-fg-selected);
  background: var(--mw-component-chips-color-bg-hover);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-default) var(--mw-component-chips-color-border-selected);
}

/* focus, selected */
.chip.selected:focus:not(.disabled) {
  color: var(--mw-component-chips-color-fg-selected);
  background: var(--mw-component-chips-color-bg-hover);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-focused) var(--mw-component-chips-color-border-selected);
}

/* active, selected */
.chip.selected:active:not(.disabled) {
  color: var(--mw-component-chips-color-fg-selected);
  background: var(--mw-component-chips-color-bg-pressed);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-default) var(--mw-component-chips-color-border-selected);
}

/* focus, not selected */
.chip:focus:not(.selected):not(.disabled) {
  color: var(--mw-component-chips-color-fg-default);
  background: var(--mw-component-chips-color-bg-hover);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-focused) var(--mw-component-chips-color-border-default);
}

/* active, not selected */
.chip:active:not(.selected):not(.disabled) {
  color: var(--mw-component-chips-color-fg-default);
  background: var(--mw-component-chips-color-bg-pressed);

}

/* disabled */
.chip.disabled {
  color: var(--mw-component-chips-color-fg-disabled);
  box-shadow: inset 0 0 0 var(--mw-component-chips-border-width-default) var(--mw-component-chips-color-border-disabled);
}
