:host {
  display: block;
}

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: var(--mw-component-avatars-color-bg-default);
  color: var(--mw-component-avatars-color-fg-default);
}

.avatar.large {
  width: var(--mw-component-size-avatars-lg);
  height: var(--mw-component-size-avatars-lg);
}

.avatar.medium {
  width: var(--mw-component-size-avatars-md);
  height: var(--mw-component-size-avatars-md);
}

.avatar.small {
  width: var(--mw-component-size-avatars-sm);
  height: var(--mw-component-size-avatars-sm);
}

.avatar.x-small {
  width: var(--mw-component-size-avatars-xs);
  height: var(--mw-component-size-avatars-xs);
}

.avatar img {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.avatar.large img {
  width: var(--mw-component-size-avatars-lg);
  height: var(--mw-component-size-avatars-lg);
}

.avatar.medium img {
  width: var(--mw-component-size-avatars-md);
  height: var(--mw-component-size-avatars-md);
}

.avatar.small img {
  width: var(--mw-component-size-avatars-sm);
  height: var(--mw-component-size-avatars-sm);
}

.avatar.x-small img {
  width: var(--mw-component-size-avatars-xs);
  height: var(--mw-component-size-avatars-xs);
}

.fallback {
  position: absolute;
}

.fallback.large {
  font-family: var(--mw-component-avatars-typo-lg-font-family);
  font-size: var(--mw-component-avatars-typo-lg-font-size);
  font-weight: var(--mw-component-avatars-typo-lg-font-weight);
  line-height: var(--mw-component-avatars-typo-lg-line-height);
}

.fallback.medium {
  font-family: var(--mw-component-avatars-typo-md-font-family);
  font-size: var(--mw-component-avatars-typo-md-font-size);
  font-weight: var(--mw-component-avatars-typo-md-font-weight);
  line-height: var(--mw-component-avatars-typo-md-line-height);
}

.fallback.small {
  font-family: var(--mw-component-avatars-typo-sm-font-family);
  font-size: var(--mw-component-avatars-typo-sm-font-size);
  font-weight: var(--mw-component-avatars-typo-sm-font-weight);
  line-height: var(--mw-component-avatars-typo-sm-line-height);
}

.fallback.x-small {
  font-family: var(--mw-component-avatars-typo-xs-font-family);
  font-size: var(--mw-component-avatars-typo-xs-font-size);
  font-weight: var(--mw-component-avatars-typo-xs-font-weight);
  line-height: var(--mw-component-avatars-typo-xs-line-height);
}

.icon {
  position: absolute;
}
